<!-- IMPORT HEADER START -->
<header class="header">
  <div class="header__content">
    <div class="header__logo">
      <a href="{{ site.remote_network_vm_for_anon_inc_base_network }}">
        <img src="{{ site.remote_network_vm_for_anon_inc_base_addr }}resource/common/anonymous_sys_org-v3.svg" alt="{{ site.title }}">
      </a>
    </div>
    <form class="header__search">
      <input type="text" placeholder="{{ site.remote_network_api_i18n_Placeholder_USA }}">
      <button type="button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z"/>
        </svg>
      </button>
      <button type="button" class="close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M13.41,12l6.3-6.29a1,1,0,1,0-1.42-1.42L12,10.59,5.71,4.29A1,1,0,0,0,4.29,5.71L10.59,12l-6.3,6.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l6.29,6.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"/>
        </svg>
      </button>
    </form>
    <div class="header__menu">
      <ul class="header__nav">
        {% for i18n in site.main_router_i18n_USA %}
        <li class="header__nav-item">
          <!-- Main Level Menu -->
          <a class="header__nav-link" href="{{ i18n.link_api }}" title="{{ i18n.label_api }}" {{ i18n.role_api }} id="{{ i18n.router_api_id }}">{{ i18n.label_api }}
            {% if i18n.level_menu_1.level_menu_label %}
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z"></path></svg>
            {% endif %}
          </a>
          {% if i18n.level_menu_1.level_menu_label %}
          <ul class="dropdown-menu header__nav-menu" aria-labelledby="{{ i18n.router_api_id }}">
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="{{ i18n.level_menu_1.level_menu_link }}" {{ i18n.level_menu_1.level_menu_role }}>{{ i18n.level_menu_1.level_menu_label }}
              {% if i18n.level_menu_1.level_menu_1_1.level_menu_label %}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z"></path></svg>
              {% endif %}
              </a>
              <!-- Subset Menu 1 (1.1 ~ 1.3) -->
              {% if i18n.level_menu_1.level_menu_1_1.level_menu_label %}
              <ul class="dropdown-menu header__nav-menu" aria-labelledby="{{ i18n.router_api_id }}">
                <li><a href="{{ i18n.level_menu_1.level_menu_1_1.level_menu_link }}">{{ i18n.level_menu_1.level_menu_1_1.level_menu_label }}</a></li>
                {% if i18n.level_menu_1.level_menu_1_2.level_menu_label %}
                <li><a href="{{ i18n.level_menu_1.level_menu_1_2.level_menu_link }}">{{ i18n.level_menu_1.level_menu_1_2.level_menu_label }}</a></li>
                {% endif %}
                {% if i18n.level_menu_1.level_menu_1_3.level_menu_label %}
                <li><a href="{{ i18n.level_menu_1.level_menu_1_3.level_menu_link }}">{{ i18n.level_menu_1.level_menu_1_3.level_menu_label }}</a></li>
                {% endif %}
              </ul>
              {% endif %}
            </li>
            <!-- Subset Menu 2 (2.1 ~ 2.3) -->
            {% if i18n.level_menu_2.level_menu_label %}
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="{{ i18n.level_menu_2.level_menu_link }}" {{ i18n.level_menu_2.level_menu_role }}>{{ i18n.level_menu_2.level_menu_label }}
              {% if i18n.level_menu_2.level_menu_2_1.level_menu_label %}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z"></path></svg>
              {% endif %}
              </a>
              {% if i18n.level_menu_2.level_menu_2_1.level_menu_label %}
              <ul class="dropdown-menu header__nav-menu" aria-labelledby="{{ i18n.router_api_id }}">
                <li><a href="{{ i18n.level_menu_2.level_menu_2_1.level_menu_link }}">{{ i18n.level_menu_2.level_menu_2_1.level_menu_label }}</a></li>
                {% if i18n.level_menu_2.level_menu_2_2.level_menu_label %}
                <li><a href="{{ i18n.level_menu_2.level_menu_2_2.level_menu_link }}">{{ i18n.level_menu_2.level_menu_2_2.level_menu_label }}</a></li>
                {% endif %}
                {% if i18n.level_menu_2.level_menu_2_3.level_menu_label %}
                <li><a href="{{ i18n.level_menu_2.level_menu_2_3.level_menu_link }}">{{ i18n.level_menu_2.level_menu_2_3.level_menu_label }}</a></li>
                {% endif %}
              </ul>
              {% endif %}
            </li>
            {% endif %}
            <!-- Subset Menu 3 (3.1 ~ 3.3) -->
            {% if i18n.level_menu_3.level_menu_label %}
            <li class="dropdown-submenu">
              <a class="dropdown-item" href="{{ i18n.level_menu_3.level_menu_link }}" {{ i18n.level_menu_3.level_menu_role }}>{{ i18n.level_menu_3.level_menu_label }}
              {% if i18n.level_menu_3.level_menu_3_1.level_menu_label %}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z"></path></svg>
              {% endif %}
              </a>
              {% if i18n.level_menu_3.level_menu_3_1.level_menu_label %}
              <ul class="dropdown-menu header__nav-menu" aria-labelledby="{{ i18n.router_api_id }}">
                <li><a href="{{ i18n.level_menu_3.level_menu_3_1.level_menu_link }}">{{ i18n.level_menu_3.level_menu_3_1.level_menu_label }}</a></li>
                {% if i18n.level_menu_3.level_menu_3_2.level_menu_label %}
                <li><a href="{{ i18n.level_menu_3.level_menu_3_2.level_menu_link }}">{{ i18n.level_menu_3.level_menu_3_2.level_menu_label }}</a></li>
                {% endif %}
                {% if i18n.level_menu_3.level_menu_3_3.level_menu_label %}
                <li><a href="{{ i18n.level_menu_3.level_menu_3_3.level_menu_link }}">{{ i18n.level_menu_3.level_menu_3_3.level_menu_label }}</a></li>
                {% endif %}
              </ul>
              {% endif %}
            </li>
            {% endif %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
        <li class="header__nav-item">
          <a class="header__nav-link header__nav-link--menu" role="button" id="SubsetMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,10a2,2,0,1,0,2,2A2,2,0,0,0,12,10ZM5,10a2,2,0,1,0,2,2A2,2,0,0,0,5,10Zm14,0a2,2,0,1,0,2,2A2,2,0,0,0,19,10Z"/></svg></a>
          <ul class="dropdown-menu header__nav-menu" aria-labelledby="SubsetMenu">
            {% for options_router_api in site.options_router_i18n_USA %}
            <li><a href="{{ options_router_api.options_link_api }}">{{ options_router_api.options_label_api }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>

    <div class="header__actions">
      <div class="header__action header__action--signin">
        <a class="header__action-btn header__action-btn--signin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="translate-api">
            <span class="all-language" style="margin: 0px 0px 0px 0px;">All Languages</span>
            <i class="translate-icon ri-translate-2"></i>
        </a>
        <ul class="dropdown-menu header__profile-menu" aria-labelledby="translate-api">
          {% for i18n_api in site.remote_network_translate_api %}
          <li><a class="header__nav-link" href="{{ i18n_api.code_link }}"><img src="{{ i18n_api.code_icon }}" alt="{{ i18n_api.code_name }}" style="width: 20px; height: 20px; margin: 0 10px 0px 0px;"><span>{{ i18n_api.code_name }}</span></a></li>
          {% endfor %}
          <li class="footer_i18n">ISO Code (A ~ Z.)</li>
        </ul>
      </div>
      <div class="header__action header__action--search">
        <button class="header__action-btn" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M21.71,20.29,18,16.61A9,9,0,1,0,16.61,18l3.68,3.68a1,1,0,0,0,1.42,0A1,1,0,0,0,21.71,20.29ZM11,18a7,7,0,1,1,7-7A7,7,0,0,1,11,18Z"/>
          </svg>
        </button>
      </div>
    </div>

    <button class="header__btn" type="button">
    <span></span>
    <span></span>
    <span></span>
    </button>
  </div>
</header>
<!-- IMPORT HEADER END -->