---
permalink: /ServerlessEngine/OpenAPIs/PaaS/ArtSpace/Actions=GlobalToken/Reaction=OAuth-Keys/Privatized/Services/Global-Plans/Pull-Requests=PreviewPlans/DCSW-24-6-MTH-OKRs
layout: ServerlessEngine/PaaS/Containers/AS/common/framework-actions-models
title: June 2024 - AIGC D.A.C. SOP Wiki Monthly OKRs-E
excerpt: 🍻 🗽 WE ARE ART SPACE. WE ARE LEGION. - Explore OKRs-E | WorkFlows | Actions | Plans & More Possibilities.
---

<!--Header start-->
<div class="header">
  <div class="header-content">
    <nav class="navbar navbar-expand">
      <div class="collapse navbar-collapse justify-content-between">
        <div class="header-left">
          <div class="dashboard_bar">Preview D.A.C.S.W. For Monthly OKRs-E</div>
        </div>
        {% include ServerlessEngine/PaaS/Containers/AS/common/rtl-navigation-account-header.html %}
      </div>
    </nav>
  </div>
</div>
<!--Header end-->

<!-- Content start-->
<div class="content-body">
  <!-- row -->
  <div class="container-fluid">
    <!-- New Plans -->
    {% include ServerlessEngine/PaaS/Containers/AS/utils/rtl-dispatch-widget.html %}
    <div class="project-nav align-items-end">
      <div class="mr-auto mb-lg-0 mb-3">
        <div class="mb-4">
          <h2 class="title-num text-black font-w700">AIGC D.A.C. SOP Wiki For Monthly OKRs-E</h2>
          <span class="fs-20"><b class="b-tags">Main Objectives - D.A.C.S.W. Interface</b></span>
        </div>
        <div class="d-sm-flex d-block align-items-center">
          <a href="javascript:void(0);" class="btn btn-rounded btn-primary dropdown-toggle rounded mr-3 mb-sm-0 mb-2" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-history mr-3 scale5" aria-hidden="true"></i>History</a>
          {% include ServerlessEngine/PaaS/Containers/AS/as_framework/art_sop_version_widget.html %}
          <a href="/ServerlessEngine/OpenAPIs/PaaS/ArtSpace/Actions=GlobalToken/Reaction=OAuth-Keys/Privatized/Services/Global-Plans/Pull-Requests=PreviewPlans/DCSW-OKRs/24-6-MTH-Locked" class="btn btn-rounded btn-primary rounded mb-sm-0 mb-2"><i class="fa fa-lock mr-3 scale5" aria-hidden="true"></i>Privatized</a>
          <ul class="users-lg ml-sm-5 ml-0">
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bs_062542b4-9cc8-4f68-8a0a-17b70064f57h" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bl_50d8e45b-619f-49a6-a68b-293b61e6c0fh" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bl_1b1981c6-5101-4aea-bec3-d3932402375h" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://avatars.githubusercontent.com/u/26638505" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://avatars.githubusercontent.com/u/51040809" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://avatars.githubusercontent.com/u/62531255" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://avatars.githubusercontent.com/u/27757146" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bl_1ea05f53-24f7-436e-8553-aa3cbc06ce1h" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bl_747d6359-539e-4462-b4bb-9a43725b695h" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://avatars.githubusercontent.com/u/34752993" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://avatars.githubusercontent.com/u/59253550" alt="{{ site.contributors_status }}"></li>
          </ul>
          <ul class="users-lg ml-sm ml-0">
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bl_7e1a2495-bbb4-4748-bcbd-b378465e5feh" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bl_211cf192-0ee1-4f52-ad4a-6e8fa9f7f87h" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bl_b2df0098-9ff7-4aaa-aec3-ae04ee15689h" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bl_f464573d-604d-41cb-aa39-65887e2627fh" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bl_ad463b9f-9bee-455e-99f8-68a523c498bh" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bl_1aba95ef-357a-4106-91e6-2fe7ba680f2h" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bl_8e20b8a5-100f-4147-bb15-4cb5fc47c61h" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bl_0ff538f3-28ff-4176-a2b0-fa3ccac930dh" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bl_980bb98a-9dac-44c6-b6cc-fcbf842d7e5h" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bl_27a47891-f97e-433e-85af-4731f1d7a1dh" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://pan16.larksuitecdn.com/static-resource/v1/v3_00bl_b62ef873-347e-4e85-9e97-cbeeb8560aeh" alt="{{ site.contributors_status }}"></li>
          </ul>
          <ul class="users-lg ml-sm ml-0">
            <li><img src="https://we-cloud-dance.github.io/ServerlessEngine/OpenAPIs/PaaS/WeCloudDance/static/assets/resource/common/contributors/1sz6.jpg" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://we-cloud-dance.github.io/ServerlessEngine/OpenAPIs/PaaS/WeCloudDance/static/assets/resource/common/contributors/6168662bf035af79dfa3e96b.jpg" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://we-cloud-dance.github.io/ServerlessEngine/OpenAPIs/PaaS/WeCloudDance/static/assets/resource/common/contributors/60e46aba8340e13fc06dfd2b.jpg" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://we-cloud-dance.github.io/ServerlessEngine/OpenAPIs/PaaS/WeCloudDance/static/assets/resource/common/contributors/601156b7f1175f75bfab452f.jpg" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://we-cloud-dance.github.io/ServerlessEngine/OpenAPIs/PaaS/WeCloudDance/static/assets/resource/common/contributors/5df47aa1979f23000151aa07.jpg" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://we-cloud-dance.github.io/ServerlessEngine/OpenAPIs/PaaS/WeCloudDance/static/assets/resource/common/contributors/5fd75343abfb73000192302f.jpg" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://we-cloud-dance.github.io/ServerlessEngine/OpenAPIs/PaaS/WeCloudDance/static/assets/resource/common/contributors/da86b879ly1gz7bzhdfs1j222o340e82.jpg" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://we-cloud-dance.github.io/ServerlessEngine/OpenAPIs/PaaS/WeCloudDance/static/assets/resource/common/contributors/51346b37ly1gzf6i9wu1hj20mg0txn30.jpg" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://we-cloud-dance.github.io/ServerlessEngine/OpenAPIs/PaaS/WeCloudDance/static/assets/resource/common/contributors/60b4665ddf3f483003fe6d19.jpg" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://avatars.githubusercontent.com/u/515576" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://we-cloud-dance.github.io/ServerlessEngine/OpenAPIs/PaaS/WeCloudDance/static/assets/resource/common/contributors/60b4665ddf3f483003fe6d19.jpg" alt="{{ site.contributors_status }}"></li>
          </ul>
          <ul class="users-lg ml-sm ml-0">
            <li><img src="https://we-cloud-dance.github.io/ServerlessEngine/OpenAPIs/PaaS/WeCloudDance/static/assets/resource/common/contributors/006VQFjyly1gljs2iwgwkj33sg4qkhe8.jpg" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://we-cloud-dance.github.io/ServerlessEngine/OpenAPIs/PaaS/WeCloudDance/static/assets/resource/common/contributors/66ed930fly1gzt2wjgtgfj21ab1xge81.jpg" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://we-cloud-dance.github.io/ServerlessEngine/OpenAPIs/PaaS/WeCloudDance/static/assets/resource/common/contributors/5af4f9dely1gztr5h10xfj21kw23uqtj.jpg" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://avatars.githubusercontent.com/u/1362567" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://avatars.githubusercontent.com/u/133277" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://avatars.githubusercontent.com/u/12107203" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://avatars.githubusercontent.com/u/12552315" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://avatars.githubusercontent.com/u/21043431" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://avatars.githubusercontent.com/u/616192" alt="{{ site.contributors_status }}"></li>
            <li><img src="https://avatars.githubusercontent.com/u/2492783" alt="{{ site.contributors_status }}"></li>
            <!-- https://tnkarimunjawa.id/assets/dist/icons/flaticon/flaticon.html -->
            <li><div class="contributors-info" style="width: 44px; height: 44px;" alt="More">
              <button type="button" class="btn">
                <svg width="32px" height="32px" viewBox="0 0 24 24" version="1.1">
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"></rect>
                    <circle fill="#ffffff" cx="4" cy="12" r="3"></circle>
                    <circle fill="#ffffff" cx="12" cy="12" r="3"></circle>
                    <circle fill="#ffffff" cx="20" cy="12" r="3"></circle>
                  </g>
                </svg>
              </button>
            </div></li>
          </ul>
        </div>
      </div>
      <div class="mt-3">
        <a href="javascript:void(0);" data-toggle="modal" data-target="#addCardsModal" class="btn btn-primary mr-3 mb-sm-0 mb-2 text-white">
        <i class="fa fa-plus mr-3 scale5" aria-hidden="true"></i>New Objective</a>
        {% include ServerlessEngine/PaaS/Containers/AS/utils/new-plans-cards-widget.html %}
        <a href="javascript:void(0);" class="mx-3">
          <svg class="primary-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 7H20C20.7956 7 21.5587 6.68393 22.1213 6.12132C22.6839 5.55871 23 4.79565 23 4C23 3.20435 22.6839 2.44129 22.1213 1.87868C21.5587 1.31607 20.7956 1 20 1H4C3.20435 1 2.44129 1.31607 1.87868 1.87868C1.31607 2.44129 1 3.20435 1 4C1 4.79565 1.31607 5.55871 1.87868 6.12132C2.44129 6.68393 3.20435 7 4 7Z" fill="#43DC80"/>
            <path d="M20 9H4C3.20435 9 2.44129 9.31607 1.87868 9.87868C1.31607 10.4413 1 11.2044 1 12C1 12.7956 1.31607 13.5587 1.87868 14.1213C2.44129 14.6839 3.20435 15 4 15H20C20.7956 15 21.5587 14.6839 22.1213 14.1213C22.6839 13.5587 23 12.7956 23 12C23 11.2044 22.6839 10.4413 22.1213 9.87868C21.5587 9.31607 20.7956 9 20 9Z" fill="#43DC80"/>
            <path d="M20 17H4C3.20435 17 2.44129 17.3161 1.87868 17.8787C1.31607 18.4413 1 19.2044 1 20C1 20.7956 1.31607 21.5587 1.87868 22.1213C2.44129 22.6839 3.20435 23 4 23H20C20.7956 23 21.5587 22.6839 22.1213 22.1213C22.6839 21.5587 23 20.7956 23 20C23 19.2044 22.6839 18.4413 22.1213 17.8787C21.5587 17.3161 20.7956 17 20 17Z" fill="#43DC80"/>
          </svg>
        </a>
        <a href="javascript:void(0);" class="mx-3">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 0.999939H4C2.34315 0.999939 1 2.34308 1 3.99994V7.99994C1 9.65679 2.34315 10.9999 4 10.9999H8C9.65685 10.9999 11 9.65679 11 7.99994V3.99994C11 2.34308 9.65685 0.999939 8 0.999939Z" fill="rgb(26 51 83 / 86%)"/>
            <path d="M20 0.999939H16C14.3431 0.999939 13 2.34308 13 3.99994V7.99994C13 9.65679 14.3431 10.9999 16 10.9999H20C21.6569 10.9999 23 9.65679 23 7.99994V3.99994C23 2.34308 21.6569 0.999939 20 0.999939Z" fill="rgb(26 51 83 / 86%)"/>
            <path d="M8 13H4C2.34315 13 1 14.3431 1 16V20C1 21.6569 2.34315 23 4 23H8C9.65685 23 11 21.6569 11 20V16C11 14.3431 9.65685 13 8 13Z" fill="rgb(26 51 83 / 86%)"/>
            <path d="M20 13H16C14.3431 13 13 14.3431 13 16V20C13 21.6569 14.3431 23 16 23H20C21.6569 23 23 21.6569 23 20V16C23 14.3431 21.6569 13 20 13Z" fill="rgb(26 51 83 / 86%)"/>
          </svg>
        </a>
      </div>
    </div>

    <div class="row kanban-bx">
      <!--Stories Line-->
      <div class="col">
        <div class="card kanbanPreview-bx">
          <div class="card-body draggable-zone dropzoneContainer">
            <div class="sub-card bg-secondary align-items-center d-flex text-white" style="background-color: #ff5722 !important; box-shadow: 0 8px 20px rgb(250 87 34 / 30%);">
              <div class="mr-auto pr-2">
                <h4 class="fs-20 mb-0 font-w600 text-white"><i class="fa fa-soundcloud mr-3 scale3" aria-hidden="true"></i>Stories Lines</h4>
                <span class="fs-14"><b>Stories Nodes Rules Filtering</b></span>
              </div>
              {% include ServerlessEngine/PaaS/Containers/AS/utils/stories-widget.html %}
            </div>
            <!--draggable-handle draggable -->
            <div class="sub-card">
              <div class="card-body">
                <div class="widget-timeline dlab-scroll">
                  <ul class="timeline">
                    <li>
                      <div class="timeline-badge info">
                      </div>
                      <a class="timeline-panel text-muted">
                        <span><i class="flaticon-381-location-2 scale3 mr-2" aria-hidden="true"></i>AS-US-JBT6WXFA</span>
                        <p> </p>
                        <h6 class="mb-0"><strong class="text-info" style="font-size: 12px;"># AIGC D.A.C. SOP Wiki Intro</strong></h6>
                        <br>
                        <p class="mb-0" style="font-size: 12.6px;">
                          The AIGC D.A.C. SOP Wiki aims to ensure the consistency, efficiency, and compliance of the AIGC (Artificial Intelligence Generated Content) digital art creation process. Ensure that each stage of work achieves the expected quality level through detailed steps and standards.
                        </p>
                        <br>
                        <span style="font-size: 10px;">Added by Art Creation Teams</span>
                      </a>
                    </li>
                    <li>
                      <div class="timeline-badge danger">
                      </div>
                      <a class="timeline-panel text-muted">
                        <span><i class="fa fa-credit-card-alt scale3 mr-2" aria-hidden="true"></i>AS-US-XJN2V6L3</span>
                        <h6 class="mb-0"><strong class="text-warning"># Cards</strong></h6>
                        <p class="mb-0" style="font-size: 12.6px;">
                          Cards Can Be Added To Your Board To Track The Progress Of Issues And Pull Requests. You Can Also Add Note Cards, Like This One!
                        </p>
                      </a>
                    </li>
                    <li>
                      <div class="timeline-badge success">
                      </div>
                      <a class="timeline-panel text-muted">
                        <span><i class="fa fa-credit-card-alt scale3 mr-2" aria-hidden="true"></i>AS-US-Z5Z3SUML</span>
                        <h6 class="mb-0"># Automation</h6>
                        <p class="mb-0" style="font-size: 12.6px;">
                          Automation Move Your Cards To The Right Place Based On The Status And Activity Of Your Issues And Pull Requests.
                        </p>
                      </a>
                    </li>
                    <li>
                      <div class="timeline-badge dark">
                      </div>
                      <a class="timeline-panel text-muted">
                        <span><i class="flaticon-381-photo scale3 mr-2" aria-hidden="true"></i>AS-US-N9RJTMX8</span>
                        <p class="mb-0"></p>
                        <h6 class="mb-0"  style="font-size: 14px;"><p class="mb-0"># Stories Color Cards</p></h6>
                          <ul class="users col-15" style="margin-top: 1.5px; margin-right: -5px;">
                            <li><div class="contributors-info"></div></li>
                            <li><div class="contributors-info" style="background-color: #C23930;"></div></li>
                            <li><div class="contributors-info" style="background-color: #008E9C;"></div></li>
                            <li><div class="contributors-info" style="background-color: #D1960A;"></div></li>
                            <li><div class="contributors-info" style="background-color: #009B6B;"></div></li>
                            <li><div class="contributors-info" style="background-color: #2D333B;"></div></li>
                            <li><div class="contributors-info" style="background-color: #A91B50;"></div></li>
                          </ul>
                          <ul class="users col-15" style="margin-top: -7px; margin-right: -5px;">
                            <li><div class="contributors-info" style="background-color:#019BC1;"></div></li>
                            <li><div class="contributors-info" style="background-color:#D7A7A0;"></div></li>
                            <li><div class="contributors-info" style="background-color:#77A22E;"></div></li>
                            <li><div class="contributors-info" style="background-color:#DD82B3;"></div></li>
                            <li><div class="contributors-info" style="background-color:#E46024;"></div></li>
                            <li><div class="contributors-info" style="background-color:#4E682E;"></div></li>
                            <li><div class="contributors-info" style="background-color:#FF4B40;"></div></li>
                          </ul>
                          <ul class="users col-15" style="margin-top: -7px; margin-right: -5px;">
                            <li><div class="contributors-info" style="background-color:#E40619;"></div></li>
                            <li><div class="contributors-info" style="background-color:#282161;"></div></li>
                            <li><div class="contributors-info" style="background-color:#A61D81;"></div></li>
                            <li><div class="contributors-info" style="background-color:#FAC672;"></div></li>
                            <li><div class="contributors-info" style="background-color:#8FC222;"></div></li>
                            <li><div class="contributors-info" style="background-color:#663359;"></div></li>
                            <li><div class="contributors-info" style="background-color:#9A0FF1;"></div></li>
                          </ul>
                          <ul class="users col-15" style="margin-top: -7px; margin-right: -5px;">
                            <li><div class="contributors-info" style="background-color:#F5E617;"></div></li>
                            <li><div class="contributors-info" style="background-color:#6A357F;"></div></li>
                            <li><div class="contributors-info" style="background-color:#E40377;"></div></li>
                            <li><div class="contributors-info" style="background-color:#B25B21;"></div></li>
                            <li><div class="contributors-info" style="background-color:#014CA0;"></div></li>
                            <li><div class="contributors-info" style="background-color:#FE4A61;"></div></li>
                            <li><div class="contributors-info" style="background-color:#A6F10F;"></div></li>
                          </ul>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Stories Line-->

      <!--WorkFlow-->
      <div class="col">
        <div class="card kanbanPreview-bx">
          <div class="card-body draggable-zone dropzoneContainer">
            <div class="sub-card bg-secondary align-items-center d-flex text-white" style="background-color: #3C4AED !important; box-shadow: 0 8px 20px rgb(60 74 236 / 30%);">
              <div class="mr-auto pr-2">
                <h4 class="fs-20 mb-0 font-w600 text-white"><i class="fa fa-cloud mr-3 scale3" aria-hidden="true"></i>Workflows</h4>
                <span class="fs-14"><b>Stories Workflow Classification</b></span>
              </div>
              {% include ServerlessEngine/PaaS/Containers/AS/utils/stories-widget.html %}
            </div>
            <div class="draggable">
              <div class="widget-stat card bg-info" style="background-color: #a5f110 !important; box-shadow: 0 8px 20px rgb(165 241 17 / 30%);">
                <div class="card-body p-4">
                  <div class="media">
                      <div class="media-body text-white text-right">
                        <p class="mb-1 text-black" style="text-transform: capitalize;"><i class="fa fa-cube mr-2 scale3" aria-hidden="true"></i>SOP Space</p>
                        <p class="fs-14 font-w600 text-black">
                          D.A.C. SOP Workflow Diagram<br>
                        </p>
                        {% include ServerlessEngine/PaaS/Containers/AS/as_framework/art_sop_visualization_flow_layout_widget.html %}
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="draggable">
              <div class="widget-stat card bg-primary" style="background-color: #663259 !important; box-shadow: 0 8px 20px rgb(102 50 89 / 30%);">
                <div class="card-body p-4">
                  <div class="media">
                    <span class="mr-3" style="width: 50px; height: 50px; min-width: 50px; font-size: 23px;">
                    <i class="flaticon-381-layer-1"></i>
                    </span>
                    <div class="media-body text-white text-right">
                      <p class="mb-1" style="text-transform: capitalize;"><i class="flaticon-381-settings-9 mr-2 scale3"></i>Automated Building Space</p>
                      <p class="fs-14 font-w600 text-white"></p>
                        <span style="margin-top: 6px;">
                          <img src="https://img.shields.io/badge/License%20-GPL%203.0-brightgreen.svg?style=for-the-badge&logo=workplace&cacheSeconds=3600&colorA=4481eb&colorB=04befe" alt="License Source" data-canonical-src="https://img.shields.io/badge/License%20-GPL%203.0-brightgreen.svg?style=for-the-badge&logo=authy&cacheSeconds=3600" style="max-width: 90%; border-radius: 1.375rem;">
                        </span>
                        <p></p>
                        <span style="margin-top: 6px;">
                          <img src="https://img.shields.io/github/v/release/obsproject/obs-studio.svg?style=for-the-badge&logo=Google-Cloud&cacheSeconds=3600&colorA=c7ff00&colorB=3c4aed&logoColor=000000" alt="Release" data-canonical-src="https://img.shields.io/github/v/release/obsproject/obs-studio.svg?style=for-the-badge&amp;logo=yamaha-motor-corporation&amp;cacheSeconds=3600" style="max-width: 90%; border-radius: 1.375rem;">
                        </span>
                        <p></p>
                        <span style="margin-top: 6px;">
                          <img src="https://img.shields.io/github/repo-size/ccxt/ccxt.svg?style=for-the-badge&logo=atandt&cacheSeconds=3600&colorA=f9d423&colorB=ff4e50&logoColor=000000" alt="Repo Size in Bytes" data-canonical-src="https://img.shields.io/github/repo-size/ccxt/ccxt.svg?style=for-the-badge&amp;logo=adobe-creative-cloud&amp;cacheSeconds=3600" style="max-width: 90%; border-radius: 1.375rem;">
                        </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="draggable">
              <div class="widget-stat card bg-primary" style="background-color: #4c40bb !important; box-shadow: 0 8px 20px rgb(76 64 187 / 30%);">
                <div class="card-body p-4">
                  <div class="media">
                    <span class="mr-3" style="width: 50px; height: 50px; min-width: 50px; font-size: 23px;">
                    <i class="flaticon-381-share"></i>
                    </span>
                    <div class="media-body text-white text-right">
                      <p class="mb-1" style="text-transform: capitalize;"><i class="fa fa-cubes mr-2 scale3" aria-hidden="true"></i>Art Wiki Space</p>
                      <p class="fs-14 font-w600 text-white"></p>
                      <div class="btn-group mb-1">
                        <button type="button" class="btn btn-warning dropdown-toggle px-3 btn-xs" data-toggle="dropdown">
                          <b class="b-tags-v1"><i class="fa fa-folder-open mr-3 scale2"></i>Kernel Wiki</b> <b class="caret m-l-5 scale2"></b>
                        </button>
                        <div class="dropdown-menu" style="margin-top: 13px;">
                          <a class="dropdown-item" href="javascript: void(0);"><i class="fa fa-file-pdf-o mr-2 scale2" aria-hidden="true"></i>Official-Intelligence-Report.pdf</a>
                          <a class="dropdown-item" href="javascript: void(0);"><i class="fa fa-file-excel-o mr-2 scale2" aria-hidden="true"></i>Collect-Company-Information-V3.xlsx</a>
                          <a class="dropdown-item" href="javascript: void(0);"><i class="fa fa-file-pdf-o mr-2 scale2" aria-hidden="true"></i>Intl-Distributed-NBM-Interface-V3.0.pdf</a>
                          <a class="dropdown-item" href="javascript: void(0);"><i class="fa fa-file-code-o mr-2 scale2" aria-hidden="true"></i>Intl-Privatization-Intelligence-Report-V1.md</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--WorkFlow-->

      <!-- OKRs -->
      <div class="col-xl-4">
        <div class="card kanbanPreview-bx">
          <div class="card-body draggable-zone dropzoneContainer">
            <div class="sub-card bg-secondary align-items-center d-flex text-white" style="background-color: #ff0075 !important; box-shadow: 0 8px 20px rgb(243 2 118 / 30%);">
              <div class="mr-auto pr-2">
                <h4 class="fs-20 mb-0 font-w600 text-white"><i class="flaticon-381-shut-down mr-3 scale3" aria-hidden="true"></i>June 2024 OKRs-E</h4>
                <span class="fs-14"><b>Workflows For June 2024 OKRs-E</b></span>
              </div>
              {% include ServerlessEngine/PaaS/Containers/AS/utils/stories-widget.html %}
            </div>
            <!--START-->
            <div class="sub-card draggable">
              <span class="sub-title"><i class="flaticon-381-location-4 mr-2 scale3" aria-hidden="true"></i>Objectives Location</span>
              <span class="sub-title">└─  Art Creation Teams</span>
              <span class="sub-title">└── AIGC D.A.C. SOP Wiki (D.A.C.S.W.)</span>
              <p class="font-w600"><a class="text-black"><hr></a></p>

              <!-- Objective -->
              <div id="accordion-eleven" class="accordion accordion-rounded-stylish accordion-bordered">
                <div class="accordion__item">
                  <!--accordion__header accordion__header--primary collapsed-->
                    <div class="accordion__header accordion__header--primary" data-toggle="collapse" data-target="#rounded-stylish_collapse-id_ito_1">
                        <span class="accordion__header--icon"></span>
                        <span class="accordion__header--text"><p class="mb-0 font-w600"><i class="flaticon-381-network mr-3 scale3"></i>
                          Objective 1 - Clarify the core purpose and value of (D.A.C.S.W.).
                        </p></span>
                        <span class="accordion__header--indicator style_two"></span>
                    </div>
                    <div id="rounded-stylish_collapse-id_ito_1" class="collapse accordion__body show"> <!--collapse accordion__body-->
                        <div class="accordion__body--text">
                          <div class="table-responsive">
                              <table class="table header-border table-hover verticle-middle">
                                  <thead>
                                      <tr><th>KRs ID</th><th>KRs Desc</th></tr>
                                  </thead>
                                  <tbody>
                                      <tr><th>1-1</th>
                                          <td>{% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-experiment.html %}<a data-container="body" data-toggle="popover" data-placement="top" class="plans-href pht desc_lines content_omitted_322" data-content="Action: After the training, a knowledge test or simulation exercise will be conducted to ensure that at least 90% of the creative team members can accurately repeat the core purpose and values of (D.A.C.S.W.) through the test results.">Documenting the (D.A.C.S.W.) purpose to ensure all team members understand its importance.</a>
                                            <span class="badge badge top-6 bottom-5" style="background-color: #9a0ff1; color: #ffffff;">
                                              <i class="fa fa-at" aria-hidden="true" style="font-weight: bold; font-size: larger;">&nbsp;</i>COCO</span>
                                          </td>
                                      </tr>
                                      <tr><th>1-2</th>
                                        <td>{% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-experiment.html %}<a data-container="body" data-toggle="popover" data-placement="top" class="plans-href pht desc_lines content_omitted_322" data-content="Action: xxxxx;">Through internal training, ensure that 90% of the creative team members can accurately repeat the purpose of (D.A.C.S.W.).</a>
                                          <span class="badge badge top-6 bottom-5" style="background-color: #9a0ff1; color: #ffffff;">
                                            <i class="fa fa-at" aria-hidden="true" style="font-weight: bold; font-size: larger;">&nbsp;</i>COCO</span>
                                        </td>
                                      </tr>
                                      <tr><th></th><td></td></tr>
                                  </tbody>
                              </table>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <!-- Objective -->

              <!-- Objective -->
              <div id="accordion-eleven" class="accordion accordion-rounded-stylish accordion-bordered">
                <div class="accordion__item">
                  <!--accordion__header accordion__header--primary collapsed-->
                    <div class="accordion__header accordion__header--primary" data-toggle="collapse" data-target="#rounded-stylish_collapse-id_ito_2">
                        <span class="accordion__header--icon"></span>
                        <span class="accordion__header--text"><p class="mb-0 font-w600"><i class="flaticon-381-network mr-3 scale3"></i>
                          Objective 2 - Define the scope of application of (D.A.C.S.W.) and ensure<br> that all relevant creative activities are carried out under its guidance.</p></span>
                        <span class="accordion__header--indicator style_two"></span>
                    </div>
                    <div id="rounded-stylish_collapse-id_ito_2" class="collapse accordion__body show"> <!--collapse accordion__body-->
                      <div class="accordion__body--text">
                        <div class="table-responsive">
                            <table class="table header-border table-hover verticle-middle">
                                <thead>
                                    <tr><th>KRs ID</th><th>KRs Desc</th></tr>
                                </thead>
                                <tbody>
                                    <tr><th>1-1</th>
                                        <td>{% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-experiment.html %}<a data-container="body" data-toggle="popover" data-placement="top" class="plans-href pht desc_lines content_omitted_322" data-content="Action: xxxxx">Develop detailed scope documentation covering all authoring related business processes.</a>
                                        <span class="badge badge top-6 bottom-5" style="background-color: #254ebd; color: #ffffff;">
                                          <i class="fa fa-at" aria-hidden="true" style="font-weight: bold; font-size: larger;">&nbsp;</i>JACKSON KING</span>
                                        </td>
                                    </tr>
                                    <tr><th>1-2</th>
                                      <td>{% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-experiment.html %}<a data-container="body" data-toggle="popover" data-placement="top" class="plans-href pht desc_lines content_omitted_322" data-content="Action: xxxxx">Implement at least 2 scope training sessions to ensure that all relevant creative members understand and comply.</a>
                                      <span class="badge badge top-6 bottom-5" style="background-color: #254ebd; color: #ffffff;">
                                        <i class="fa fa-at" aria-hidden="true" style="font-weight: bold; font-size: larger;">&nbsp;</i>JACKSON KING</span>
                                      </td>
                                    </tr>
                                    <tr><th></th><td></td></tr>
                                </tbody>
                            </table>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <!-- Objective -->

              <!-- Objective -->
              <div id="accordion-eleven" class="accordion accordion-rounded-stylish accordion-bordered">
                <div class="accordion__item">
                  <!--accordion__header accordion__header--primary collapsed-->
                    <div class="accordion__header accordion__header--primary" data-toggle="collapse" data-target="#rounded-stylish_collapse-id_ito_3">
                        <span class="accordion__header--icon"></span>
                        <span class="accordion__header--text"><p class="mb-0 font-w600"><i class="flaticon-381-network mr-3 scale3"></i>
                          Objective 3 - Clearly define the person in charge of (D.A.C.S.W.) and their responsibilities.</p></span>
                        <span class="accordion__header--indicator style_two"></span>
                    </div>
                    <div id="rounded-stylish_collapse-id_ito_3" class="collapse accordion__body show"> <!--collapse accordion__body-->
                      <div class="accordion__body--text">
                        <div class="table-responsive">
                            <table class="table header-border table-hover verticle-middle">
                                <thead>
                                    <tr><th>KRs ID</th><th>KRs Desc</th></tr>
                                </thead>
                                <tbody>
                                    <tr><th>1-1</th>
                                        <td>{% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-experiment.html %}<a data-container="body" data-toggle="popover" data-placement="top" class="plans-href pht desc_lines content_omitted_322" data-content="Action: xxxxx">Designate and publicize the person in charge (D.A.C.S.W.), clarify their responsibilities and authority.</a>
                                        <span class="badge badge top-6 bottom-5" style="background-color: #e0091a; color: #ffffff;">
                                          <i class="fa fa-at" aria-hidden="true" style="font-weight: bold; font-size: larger;">&nbsp;</i>JACKSON CONAN</span>
                                        </td>
                                    </tr>
                                    <tr><th>1-2</th>
                                      <td>{% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-experiment.html %}<a data-container="body" data-toggle="popover" data-placement="top" class="plans-href pht desc_lines content_omitted_322" data-content="Action: xxxxx">The responsible person completes at least one job training to ensure that they can manage effectively (D.A.C.S.W.).</a>
                                      <span class="badge badge top-6 bottom-5" style="background-color: #e0091a; color: #ffffff;">
                                        <i class="fa fa-at" aria-hidden="true" style="font-weight: bold; font-size: larger;">&nbsp;</i>JACKSON CONAN</span>
                                      </td>
                                    </tr>
                                    <tr><th></th><td></td></tr>
                                </tbody>
                            </table>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <!-- Objective -->
              {% include ServerlessEngine/PaaS/Containers/AS/as_framework/mian_ork_status/okr_3.html %}
            </div>
            <!--END-->
          </div>
        </div>
      </div>
      <!-- OKRs -->

      <!--COMPLETE-->
      <div class="col-xl-4">
        <div class="card kanbanPreview-bx">
          <div class="card-body draggable-zone dropzoneContainer">
            <div class="sub-card bg-secondary align-items-center d-flex text-white" style="background-color: #67e818 !important; box-shadow: 0 8px 20px rgb(103 232 24 / 30%);">
              <div class="mr-auto pr-2">
                <h4 class="fs-20 mb-0 font-w600 text-white"><i class="flaticon-381-upload mr-3 scale3" aria-hidden="true"></i>Complete</h4>
                <span class="fs-14"><b>Merge Complete Stories Nodes</b></span>
              </div>
              {% include ServerlessEngine/PaaS/Containers/AS/utils/stories-widget.html %}
            </div>
            <!--START-->
            <div class="sub-card draggable">
              <span class="sub-title"><i class="flaticon-381-route mr-2 scale3" aria-hidden="true"></i>Objectives Tracking</span>
              <span class="sub-title">└─  Art Creation Teams</span>
              <span class="sub-title">└── AIGC D.A.C. SOP Wiki (D.A.C.S.W.)</span>
              <p class="font-w600"><a class="text-black"><hr></a></p>
              <div id="accordion-eleven" class="accordion accordion-rounded-stylish accordion-bordered">
                <div class="accordion__item"><!--collapsed-->
                    <div class="accordion__header accordion__header--primary" data-toggle="collapse" data-target="#rounded-stylish_collapse-id-xx">
                        <span class="accordion__header--icon"></span>
                        <span class="accordion__header--text"><p class="mb-0 font-w600" style="font-size: 13px;"><i class="flaticon-381-search mr-2 scale5"></i>
                          Objectives Gathering</p></span>
                        <span class="accordion__header--indicator style_two"></span>
                    </div>
                    <div id="rounded-stylish_collapse-id-xx" class="collapse accordion__body show"><!--show-->
                        <div class="accordion__body--text">
                          <p class="font-w600">
                            <pre class="font-w600">
                              <a class="plans-href">{% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-verified.html %} (D.A.C.S.W.) Inference (01~25)</a><br>
                              {% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-success.html %}<span class="badge badge-xs badge top-5 bottom-5" style="background-color: #0014f7; color: #ffffff;">(01-CI)-V2</span>
                              {% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-success.html %}<span class="badge badge-xs badge top-5 bottom-5" style="background-color: #ff710f; color: #ffffff;">(02-FS)-V2</span>
                              {% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-success.html %}<span class="badge badge-xs badge top-5 bottom-5" style="background-color: #720aff; color: #ffffff;">(03-CE)-V2</span>
                              {% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-success.html %}<span class="badge badge-xs badge top-5 bottom-5" style="background-color: #fff200; color: #000000;">(04-GS)-V1</span>
                              {% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-success.html %}<span class="badge badge-xs badge top-5 bottom-5" style="background-color: #04ffb1; color: #000000;">(05-IP)-V2</span>
                              {% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-success.html %}<span class="badge badge-xs badge top-5 bottom-5" style="background-color: #96ff04; color: #000000;">(06-ES)-V2</span>
                              {% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-success.html %}<span class="badge badge-xs badge top-5 bottom-5" style="background-color: #04f2ff; color: #000000;">(07-BT)-V2</span>
                              {% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-success.html %}<span class="badge badge-xs badge top-5 bottom-5" style="background-color: #7cb6ff; color: #000000;">(08-BS)-V1</span>
                              {% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-success.html %}<span class="badge badge-xs badge top-5 bottom-5" style="background-color: #ff7cd9; color: #000000;">(09-INV)-V1</span>
                              {% include ServerlessEngine/PaaS/Containers/AS/as_framework/rotate-status/rs-success.html %}<span class="badge badge-xs badge top-5 bottom-5" style="background-color: #05ff55; color: #000000;">(10-SOP)-V1</span>
                              <!-- <hr> -->
                            </pre>
                          </p>
                          <hr>
                          <br>
                          <p class="font-w600">
                            <a class="text-black">
                            01 - Objectives (Node 1 ~ 30.)<br>
                            => [1 - 1.1 ~ 1.5] Built-in Cloud<br>
                            => [2 - 2.1~2.13] Built-in Remote Addr<br>
                            => [3 - 3.1~3.6] Built-in Remote Addr<br>
                            => [4 - 4.1~4.4] Built-in Remote Addr<br>
                            => [5 - 5.1 ~ 5.7] Built-in Cloud<br>
                            => [6 - 6.1~6.2] Built-in Remote Addr<br>
                            => [7] Built-in Remote Addr<br>
                            => [8 - 8.1 ~ 8.4] Built-in Cloud<br>
                            => [9] Built-in Cloud<br>
                            => [11] Built-in Cloud<br>
                            => [10 - 10.1~10.2] Built-in Remote Addr
                          </a>
                        </p>
                        </div>
                    </div>
                </div>
              </div>
              {% include ServerlessEngine/PaaS/Containers/AS/as_framework/mian_ork_status/complete.html %}
            </div>
            <!--END-->
          </div>
        </div>
      </div>
      <!--COMPLETE-->

    </div>
  </div>
</div>
<!-- Content end-->